body {
  background-color: #353;
  color: #fff;
}

.app {
  display: grid;
  grid-template-rows: 100px 100px minmax(min-content, max-content);
  grid-template-columns: 1900px;
  text-align: center;
}
